<section class="dessert_container" [@item_fade] [tabindex]="set_tabindex()">
  <div class="dessert_img__container">
    <!-- would be smarter to use the animation from parent to control both the btn and the border efects with a single source -->
    <img
      [ngClass]="{
        dessert_img__content: true,
        'dessert_img__content--selected': product.selected
      }"
      [src]="choose_img()"
      alt="dessert_pic"
    />
  </div>

  <div
    [@item_fade]
    (click)="handle_product_update('add')"
    class="add_btn"
    *ngIf="!product.selected"
  >
    <div class="add_btn__icon_container">
      <img
        class="add_btn__icon_content"
        src="./assets/images/icon-add-to-cart.svg"
        alt="card_icon"
      />
    </div>

    <span class="add_btn__label">Add to Cart</span>
  </div>

  <div [@item_fade] class="add_btn add_btn--selected" *ngIf="product.selected">
    <div
      class="add_btn__icon_container"
      (click)="handle_product_update('decrease')"
    >
      <svg
        class="add_btn__icon_content add_btn__icon_content--decrement"
        alt="decrement_icon"
        xmlns="http://www.w3.org/2000/svg"
        width="10"
        height="2"
        fill="none"
        viewBox="0 0 10 2"
      >
        <path fill="#fff" d="M0 .375h10v1.25H0V.375Z" />
      </svg>
    </div>

    <span class="add_btn__label">{{ product.quantity }}</span>

    <div
      class="add_btn__icon_container"
      (click)="handle_product_update('increase')"
    >
      <svg
        class="add_btn__icon_content add_btn__icon_content--increment"
        alt="increment_icon"
        xmlns="http://www.w3.org/2000/svg"
        width="10"
        height="10"
        fill="none"
        viewBox="0 0 10 10"
      >
        <path
          fill="#fff"
          d="M10 4.375H5.625V0h-1.25v4.375H0v1.25h4.375V10h1.25V5.625H10v-1.25Z"
        />
      </svg>
    </div>
  </div>

  <div class="dessert_info">
    <h4 class="dessert_info__type">{{ product.category }}</h4>
    <h2 class="dessert_info__name">{{ product.name }}</h2>
    <h3 class="dessert_info__price">
      &#x24;{{ product.price | number : "1.2" }}
    </h3>
  </div>
</section>
