.dessert_container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 350px;
}

.dessert_img__container {
  width: 100%;
  height: calc(70% - 5px);
  // to align middle of the add_cart btn with the bottom border
  overflow: hidden;
}

.dessert_img__content {
  width: 100%;
  height: 100%;
  object-fit: cover;

  border-radius: 15px;
  border: 2px solid transparent; // avoid image shrinking effect due to box-sizing

  transition: 1s ease all;

  &--selected {
    border: 2px solid #c83b0e;
  }
}

@media screen and (min-width: 400px) {
  .dessert_container {
    width: 250px;
    height: 350px;
  }
}

.add_btn {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -70%);
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 60%;
  height: 40px;
  background-color: #fff;
  border-radius: 30px;
  border: 1px solid #938686;
  cursor: pointer;
}

.add_btn__label {
  font-weight: 600;
  font-size: 0.8rem;
  white-space: nowrap;
}

.add_btn__icon_container {
  width: fit-content;
  border: 1px solid #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  padding: 5px;
  box-sizing: content-box;
  cursor: pointer;
}

.add_btn__icon_content {
  width: 100%;
  height: 100%;
  object-fit: cover;

  &--decrement {
    object-fit: contain;
  }
}

.add_btn--selected {
  background-color: #c83b0e;
  border: none;
  justify-content: space-between;
  padding: 10px 15px;
  color: #fff;

  .add_btn__icon_container {
    width: 10px;
    height: 10px;
    transition: all ease 300ms;
  }
}

.add_btn__icon_container:hover {
  background-color: #fff;

  .add_btn__icon_content path {
    fill: #c83b0e;
  }
}

.dessert_info {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.dessert_info__type {
  font-weight: 400;
  font-size: 0.7rem;
  opacity: 0.8;
}

.dessert_info__name {
  font-size: 1rem;
  font-weight: 600;
}

.dessert_info__price {
  color: #c06a4a;
  font-size: 0.9rem;
}
