<section class="dessert_container">
  <div class="dessert_img">
    <div class="dessert_img__img_container">
      <img
        class="dessert_img__img_content"
        [src]="product.image.desktop"
        alt="dessert_pic"
      />
    </div>
  </div>

  <div class="add_btn">
    <div class="add_btn__icon_container">
      <img
        class="add_btn__icon_content"
        src="./assets/images/icon-add-to-cart.svg"
        alt="card_icon"
      />
    </div>

    <h1 class="add_btn__label">Add to Cart</h1>
  </div>

  <div class="dessert_info">
    <h4 class="dessert_info__type">{{ product.category }}</h4>
    <h2 class="dessert_info__name">{{ product.name }}</h2>
    <h3 class="dessert_info__price">&#x24;{{ product.price | number: "1.2" }}</h3>
  </div>
</section>
