.desserts_layout {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.dessert_list__title {
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 25px;
}

.dessert_list__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

@media screen and (min-width: 1000px) {
  .desserts_layout {
    flex-direction: row;
  }

  .dessert_list__items {
    flex-direction: row;
    width: calc(400px * 2); // enough to 3 items. 400 is card size + gap.
    flex-wrap: wrap;
  }
}
