.desserts_layout {
  display: flex;
  gap: 30px;
}

.dessert_list__title {
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 25px;
}

.dessert_list__items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: calc(400px * 2); // enough to 3 items. 400 is card size + gap.
}

