<section class="desserts_layout" [@page_animation]>
  <div class="dessert_list">
    <h1 class="dessert_list__title">Desserts</h1>

    <div class="dessert_list__items">
      <app-product-card
        (update_product)="update_product($event)"
        *ngFor="let product of products; let i = index"
        [product]="product"
        [tabindex]="tabindexes[i]"
      ></app-product-card>
    </div>
  </div>

  <app-cart
    (confirm_order)="confirmed_order = true"
    (remove_dessert)="remove_dessert($event)"
    [tabIndex]=""
  ></app-cart>

  <app-confirm-modal
    [@modal_pop]="modal_animation()"
    (new_order)="handle_new_order()"
    *ngIf="confirmed_order"
  ></app-confirm-modal>
</section>
