@import "variables";

.desserts_layout {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.dessert_list__title {
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 25px;
}

.dessert_list__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

@media screen and (min-width: $mobile_bp) {
  .dessert_list__items {
    flex-direction: row;
    width: calc(380px * 2);
    flex-wrap: wrap;
  }
}

@media screen and (min-width: $tablet_bp) {
  .desserts_layout {
    flex-direction: row;
  }

  .dessert_list__items {
    flex-direction: row;
    width: calc(280px * 2); // 280 is card size + gap.
    flex-wrap: wrap;
  }
}

@media screen and (min-width: $laptop_bp) {
  .dessert_list__items {
    width: calc(280px * 3); 
  }
}
